<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Login page</title>
    </head>
    <body>
        <!-- Names of fields username and password should be like in the example below  -->
        <form name="f" method="post" action="/process_login">
            <!-- When you added the field below Thymeleaf will add the same in all the forms  -->
            <!-- After that you can do logout only with post request => you need form  -->
<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <br>
            <input type="submit" value="Login"/>

            <div th:if="${param.error}" style="color: red">Invalid username or password</div>
        </form>
        <a href="/auth/register">Registration</a>
    </body>
</html>